<!-- This launch file starts the simulation together with the map service. -->

<launch>
  <arg name="point_cloud" default="/point_cloud"/>
  <arg name="simulation_file" default="simulation.launch"/>

  <include file="$(find simulation)/launch/$(arg simulation_file)" />

  <include file="$(find map)/launch/map_service.launch">
    <arg name="point_cloud" value="$(arg point_cloud)"/>
  </include>

</launch>